@font-face {
  font-family: 'Oswald-Medium';
  src: url("/fonts/Oswald/Oswald-Meduim/Oswald-Medium.eot");
  src: url("/fonts/Oswald/Oswald-Medium/Oswald-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/Oswald/Oswald-Medium/Oswald-Medium.woff2") format("woff2"), url("/fonts/Oswald/Oswald-Medium/Oswald-Medium.woff") format("woff"), url("/fonts/Oswald/Oswald-Medium/Oswald-Medium.ttf") format("truetype"), url("/fonts/Oswald/Oswald-Medium/Oswald-Medium.svg#Oswald Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Oswald-SemiBold';
  src: url("/fonts/Oswald/Oswald-SemiBold/Oswald-SemiBold.eot");
  src: url("/fonts/Oswald/Oswald-SemiBold/Oswald-SemiBold.eot?#iefix") format("embedded-opentype"), url("/fonts/Oswald/Oswald-SemiBold/Oswald-SemiBold.woff2") format("woff2"), url("/fonts/Oswald/Oswald-SemiBold/Oswald-SemiBold.woff") format("woff"), url("/fonts/Oswald/Oswald-SemiBold/Oswald-SemiBold.ttf") format("truetype"), url("/fonts/Oswald/Oswald-SemiBold/Oswald-SemiBold.svg#Oswald Regular") format("svg");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("/fonts/Montserrat/Montserrat-Medium/Montserrat Medium.eot");
  src: url("/fonts/Montserrat/Montserrat-Medium/Montserrat Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/Montserrat/Montserrat-Medium/Montserrat Medium.woff2") format("woff2"), url("/fonts/Montserrat/Montserrat-Medium/Montserrat Medium.woff") format("woff"), url("/fonts/Montserrat/Montserrat-Medium/Montserrat Medium.ttf") format("truetype"), url("/fonts/Montserrat/Montserrat-Medium/Montserrat Medium.svg#Montserrat Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/fonts/Montserrat/Montserrat-Regular/Montserrat Regular.eot");
  src: url("/fonts/Montserrat/Montserrat-Regular/Montserrat Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Montserrat/Montserrat-Regular/Montserrat Regular.woff2") format("woff2"), url("/fonts/Montserrat/Montserrat-Regular/Montserrat Regular.woff") format("woff"), url("/fonts/Montserrat/Montserrat-Regular/Montserrat Regular.ttf") format("truetype"), url("/fonts/Montserrat/Montserrat-Regular/Montserrat Regular.svg#Montserrat Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Oswald-Medium';
  src: url("/fonts/Oswald/Oswald-Meduim/Oswald-Medium.eot");
  src: url("/fonts/Oswald/Oswald-Medium/Oswald-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/Oswald/Oswald-Medium/Oswald-Medium.woff2") format("woff2"), url("/fonts/Oswald/Oswald-Medium/Oswald-Medium.woff") format("woff"), url("/fonts/Oswald/Oswald-Medium/Oswald-Medium.ttf") format("truetype"), url("/fonts/Oswald/Oswald-Medium/Oswald-Medium.svg#Oswald Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Oswald-SemiBold';
  src: url("/fonts/Oswald/Oswald-SemiBold/Oswald-SemiBold.eot");
  src: url("/fonts/Oswald/Oswald-SemiBold/Oswald-SemiBold.eot?#iefix") format("embedded-opentype"), url("/fonts/Oswald/Oswald-SemiBold/Oswald-SemiBold.woff2") format("woff2"), url("/fonts/Oswald/Oswald-SemiBold/Oswald-SemiBold.woff") format("woff"), url("/fonts/Oswald/Oswald-SemiBold/Oswald-SemiBold.ttf") format("truetype"), url("/fonts/Oswald/Oswald-SemiBold/Oswald-SemiBold.svg#Oswald Regular") format("svg");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("/fonts/Montserrat/Montserrat-Medium/Montserrat Medium.eot");
  src: url("/fonts/Montserrat/Montserrat-Medium/Montserrat Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/Montserrat/Montserrat-Medium/Montserrat Medium.woff2") format("woff2"), url("/fonts/Montserrat/Montserrat-Medium/Montserrat Medium.woff") format("woff"), url("/fonts/Montserrat/Montserrat-Medium/Montserrat Medium.ttf") format("truetype"), url("/fonts/Montserrat/Montserrat-Medium/Montserrat Medium.svg#Montserrat Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/fonts/Montserrat/Montserrat-Regular/Montserrat Regular.eot");
  src: url("/fonts/Montserrat/Montserrat-Regular/Montserrat Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Montserrat/Montserrat-Regular/Montserrat Regular.woff2") format("woff2"), url("/fonts/Montserrat/Montserrat-Regular/Montserrat Regular.woff") format("woff"), url("/fonts/Montserrat/Montserrat-Regular/Montserrat Regular.ttf") format("truetype"), url("/fonts/Montserrat/Montserrat-Regular/Montserrat Regular.svg#Montserrat Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 10;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  max-width: 877px;
  padding-top: 21px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav--link {
  font-size: 22px;
  text-transform: uppercase;
  color: #101010;
}

.header__nav--link:hover {
  color: #4E4E4E;
}

.intro {
  position: relative;
}

.intro_upperCorner {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.intro_bottomCorner {
  position: absolute;
  right: 0;
  bottom: -59.4%;
  z-index: -1;
}

.intro_container {
  width: 100%;
  padding: 139px 0 175px;
  max-width: 1720px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro_title {
  margin-top: 127px;
}

.intro_title--text {
  width: 100%;
  max-width: 448px;
  font-size: 100px;
  line-height: 113.7%;
  text-transform: uppercase;
  color: #FEFEFE;
}

.intro_title--text span {
  color: #BA8065;
}

.intro_title--buttons {
  margin-top: 55px;
}

.intro_image {
  position: relative;
}

.intro_image--bg {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}

.intro_descr {
  width: 100%;
  max-width: 448px;
  margin-top: 129px;
}

.intro_descr_title {
  font-size: 36px;
  line-height: 113.7%;
  text-transform: uppercase;
  color: #BA8065;
  margin-bottom: 74px;
}

.intro_descr_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  margin-bottom: 22px;
  padding-left: 5px;
}

.intro_descr_item--text {
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 14px;
  line-height: 113.7%;
  text-transform: capitalize;
  color: #04322E;
}

.about {
  position: relative;
}

.about_bottomCorner {
  position: absolute;
  bottom: -43%;
  left: 0;
  z-index: -2;
}

.about_container {
  width: 100%;
  max-width: 1445px;
  margin: 103px auto 0;
}

.about_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1500px;
  margin-bottom: 112px;
}

.about_item:nth-last-child(1) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-bottom: 11px;
}

.about_item:nth-last-child(1) .about_item_text {
  margin-right: 43px;
  margin-left: 0;
}

.about_item:nth-last-child(1) .about_item--img {
  position: relative;
  top: -88px;
  right: -46px;
}

.about_item_text {
  margin-left: 43px;
}

.about_item_text--title {
  font-size: 44px;
  line-height: 129.2%;
  text-transform: uppercase;
  color: #FEFEFE;
  margin-bottom: 31px;
}

.about_item_text--title span.brown {
  color: #BA8065;
}

.about_item_text--title span.green {
  color: #006342;
}

.about_item_text--descr {
  font-family: "Montserrat-Medium", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 113.7%;
  text-transform: capitalize;
  color: #04322E;
}

.shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  max-width: 1720px;
  margin: 0 auto 89px;
}

.shop_img {
  position: relative;
  margin-bottom: 232px;
}

.shop_img svg {
  position: absolute;
  top: -23px;
  left: -9.8%;
  z-index: -1;
}

.shop_info_title {
  width: 100%;
  max-width: 937px;
  margin-left: 100px;
  font-size: 44px;
  line-height: 129.2%;
  text-transform: uppercase;
  color: #BA8065;
}

.shop_info_descr {
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 22px;
  line-height: 113.7%;
  padding-right: 40px;
  color: #04322E;
  margin: 32px 0 48px;
}

.shop_info_buttons {
  width: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 780px;
  margin: 0 auto;
}

.footer {
  position: relative;
}

.footer_img {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.footer_container {
  width: 100%;
  max-width: 1444px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_text {
  width: 50.8%;
}

.footer_text_title {
  font-size: 44px;
  line-height: 129.2%;
  text-transform: uppercase;
  margin-bottom: 50px;
  color: #FEFEFE;
}

.footer_text_descr {
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 22px;
  line-height: 125.7%;
  color: #04322E;
}

.footer_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -26px;
  width: 702px;
}

.footer_form_line {
  width: 100%;
  margin-bottom: 19px;
}

.footer_form_line:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_form input {
  display: block;
  padding: 0;
  height: 82px;
  border: none;
  outline: none;
  background: #FDC89D;
  border-radius: 10px;
}

.input_container_name {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 20px;
  text-transform: lowercase;
  color: #FEFEFE;
  margin-bottom: 5px;
}

.name {
  width: 254px;
}

.email {
  width: 418px;
}

.topic {
  width: 100%;
}

.message {
  width: 697px;
  height: 293px;
  resize: vertical;
  border: 0;
  outline: 0;
  background: #FDC89D;
  border-radius: 10px;
}

body {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #FFDEC0;
  font-family: "Oswald-Semibold", sans-serif;
}

.button {
  display: block;
  font-family: "Oswald-Meduim", sans-serif;
  padding: 18px 0;
  font-size: 30px;
  background: inherit;
  line-height: 113.7%;
  color: #FEFEFE;
  text-transform: uppercase;
  border-radius: 20px;
  background: #006342;
  border: none;
}

.button.intro {
  width: 100%;
  max-width: 240px;
  margin-bottom: 14px;
  margin-left: 2px;
}

.button.intro.view {
  background: none;
  border: 2px solid #006342;
  color: #006342;
}

.button.shop {
  width: 100%;
  max-width: 360px;
}

.button.shop.contact {
  background: #FCBE8C;
}

.button.footer {
  width: 100%;
  max-width: 360px;
  margin: 0 auto 371px;
}
